#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. SQL.
2. R.
3. Java.
4. JavaScript.
5. Scala.
6. VBA (Visual Basic for Applications), etc.

Some of the commonly used libraries used by Data Scientists include:
1. SciKit-Learn
2. NumPy
3. SciPy
4. VisPy
5. Pandas
6. TensorFlow
7. PyTorch etc.

|Data Science Tools.|
|-------------|
|Microsoft Power BI. |
|TensorFlow.         |
|Jupyter Notebooks.  |

 ### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
350/60

5.833333333333333

# This markdown cell will list all the objectives.
* Create a markdown cell to list data science languages.
* Create a markdown cell to list data science libraries.
* Create a markdown cell with a table of Data Science tools.
* Create a markdown cell introducing arithmetic expression examples.

Jackson Senyo Nkansah
## Author